<div class="header">
  <img src="assets/capatot.jpg" alt="first slide" style="display: block; width: 100%;">
</div>

<div class="container main-container">
  <h5 class="text-center"><p>Busque pelo seu Carro Ideal.</p></h5>
  <hr>
    <div class="row text-center">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="h-100">
                <img class="card-img-top" src="/assets/capaImpo.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Importados</h4>
                    <p class="card-text">Anúncios de Veículos Importados, os melhores do mercado em Brasília.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saiba mais</a>
                </div>        
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="h-100">
                <img class="card-img-top" src="/assets/capaNaci.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Nacionais</h4>
                    <p class="card-text">Anúncios de Veículos Nacionais, com total procedências e garantia.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saiba mais</a>
                </div>        
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="h-100">
                <img class="card-img-top" src="/assets/capaEle.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Elétricos</h4>
                    <p class="card-text">Anúncios de Veículos Elétricos, a nova tendência do mecardo Brasileiro.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saiba mais</a>
                </div>        
            </div>
        </div>    
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="h-100">
                <img class="card-img-top" src="/assets/capaModi.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Modificados</h4>
                    <p class="card-text">Anúncios de Veículos Modificados, rebaixados e legalizados junto ao Detran.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saiba mais</a>
                </div>        
            </div>
        </div>    
    </div>   
</div>

<div class="container h-100">
    <h5><p class="text-center">Notícias pelo mundo Automobilismo.</p></h5>
    <hr>
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
          <div class="card">
            <img src="/assets/noti01.jpg" class="card-img-top" height="300px" width="300px" style="padding: 5px;" alt="">
            <div class="card-body">
              <h5 class="card-title">1º de abril: as 6 maiores mentiras do mundo automotivo</h5>
              <p class="card-text">Algumas histórias do mundo automotivo foram praticamente feitas para 1º de abril. As fake news variam desde modelos que foram prometidos.</p>
              <button class="btn btn-success">Ver Mais</button>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="/assets/noti02.jpg" class="card-img-top" height="300px" width="300px" style="padding: 5px;" alt="">
            <div class="card-body">
              <h5 class="card-title">Shopping de Campinas recebe encontro de carros modificados</h5>
              <p class="card-text">O Shopping Spazio Ouro Verde recebe a partir desta sexta-feira (3) o 'Encontro Semanal de Carros Rebaixados, Modificado e Antigos', das 19h às 22h.</p>
              <button class="btn btn-success">Ver Mais</button>
            </div>
          </div>
          
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="/assets/noti03.jpg" class="card-img-top" height="300px" width="300px" style="padding: 5px;" alt="">
            <div class="card-body">
              <h5 class="card-title">AS 12 MARCAS AUTOMOTIVAS MAIS VALIOSAS DO MUNDO</h5>
              <p class="card-text">A Toyota é a maca de automóveis mais valiosa do mundo em 2018, segundo a revista Forbes, que todos os anos divulga a lista com marcas mais valiosas do mundo.</p>
              <button class="btn btn-success">Ver Mais</button>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="/assets/noti04.jpg" class="card-img-top" height="300px" width="300px" style="padding: 5px;" alt="">
            <div class="card-body">
              <h5 class="card-title">'BeeAnywhere' quer ser o carro elétrico mais barato do mundo</h5>
              <p class="card-text">Os carros elétricos estão ganhando cada vez mais espaço na indústria automobilística. O problema é que essa categoria possui uma faixa de preço que as massas não podem pagar.</p>
              <button class="btn btn-success">Ver Mais</button>
            </div>
          </div>
        </div>
      </div>
</div>



